#page-footer {
    padding: $largePadding;
    padding-left: 0;
    padding-right: 0;
    background: $dark-purple;
    background: $gradient;
    color: white;
    font-size: 14px;

    a {
        color: white;
    }

    nav {
        margin: 0 auto;
        align-items: flex-start;

        ul[role="navigation"] {
            display: block;
            li {
                margin: 0;
                line-height: 2;
            }
        }

        section {
            margin-bottom: 4rem;
            text-align: center;

            label {
                font-size: 130%;
                display: block;
                margin-bottom: 1rem;
            }

            svg {
                width: 1rem;
                color: white;
                stroke: white;
                fill: white;
                margin-right: 1rem;
            }

            #nav-connect-menu {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: $largeScreen) {
    #page-footer {

    }
}