nav {
    ul[role="navigation"] {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0;

        li {
            margin-left: 2rem;

            &:first-child {
                margin: 0;
            }
        }
    }
}

@media (min-width: $mediumScreen) {
    nav {
        display: flex;
        text-decoration: none;
        height: 100%;

        section {
            display: block;
            flex-grow: 1;
            width: 25%;
        }
    }
}
