table {
    border-collapse: collapse;

    tr {
        td, th {
            padding: 1rem;
            border: 1px solid $light-grey;
        }
    }

    thead {
        background-color: $dark-purple;
        color: white;
        
        tr {
            td, th {
                border: 1px solid $dark-purple;
            }
        }
    }

    tbody {

    }
}