article {
    .meta {
        color: $light-grey;
    }
}

.list {
    margin-top: 4rem;

    article {
        margin-bottom: 4rem;
        background: white;
        padding: $mediumPadding;
        border-radius: $border-radius;

        h2 {
            margin-top: 0;

            a {
                color: $dark-purple;

                &:hover {
                    color: lighten($dark-purple, $amount: 20);
                }
            }
        }
    }
}