
@import "variables";
@import "font";

#page-header {
    height: 20rem;
    background: $dark-purple;
    background: linear-gradient(125deg, $dark-purple 0%, $light-purple 100%);
    
    nav {
        height: 5rem;
        ul {
            li {
                a {
                    color: white;
                }
            }
        }
        .nav-brand {
            background-image: url(/images/Logo.png);
        }
    }
}