@import "font";

$contentWidth: 800px;
$headerWidth: 800px * 1.4;

html {
    font-size: 20px;
}

body {
    font-family: "Titillium";
    font-style: normal;
}

#page-header {
    background: rgb(47, 0, 142);
    height: 5rem;
    // background: linear-gradient(141deg, rgba(47, 0, 142, 1) 0%, rgba(103, 0, 171, 1) 48%, rgba(212, 0, 226, 1) 100%);
    nav {
        display: flex;
        width: $headerWidth;
        margin: 0 auto;
        text-decoration: none;
        height: 100%;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            li {
                margin-left: 2rem;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        #nav-main-menu {
            margin-left: auto;
        }

        .nav-brand {
            picture {
                img {
                    width: 6rem;
                }
            }
        }
    }
}

main {
    width: $contentWidth;
    margin: 0 auto;
}

#page-footer {
    width: $contentWidth;
    margin: 0 auto;
}