@import "variables";

main {
    margin-bottom: 8rem;

    .list {
        margin-top: 4rem;

        article {
            margin-bottom: 4rem;
            background: white;
            padding: $mediumPadding;
            border-radius: $border-radius;

            h2 {
                margin-top: 0;

                a {
                    color: $dark-purple;

                    &:hover {
                        color: lighten($dark-purple, $amount: 20);
                    }
                }
            }
        }
    }
}

article {
    .meta {
        color: $light-grey;
    }
}

blockquote {

    border-left: 10px solid $dark-purple;
    margin: 1.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: $light-grey;
    font-style: italic;

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }    
}

table {
    border-collapse: collapse;

    tr {
        td, th {
            padding: 1rem;
            border: 1px solid $light-grey;
        }
    }

    thead {
        background-color: $dark-purple;
        color: white;
        
        tr {
            td, th {
                border: 1px solid $dark-purple;
            }
        }
    }

    tbody {

    }
}

#page-footer {
    padding: $largePadding;
    padding-left: 0;
    padding-right: 0;
    background: $dark-purple;
    background: $gradient;
    color: white;
    font-size: 14px;

    a {
        color: white;
    }

    nav {
        margin: 0 auto;
        align-items: flex-start;

        ul[role="navigation"] {
            display: block;
            li {
                margin: 0;
                line-height: 2;
            }
        }

        section {
            margin-bottom: 4rem;
            text-align: center;

            label {
                font-size: 130%;
                display: block;
                margin-bottom: 1rem;
            }

            svg {
                width: 1rem;
                color: white;
                stroke: white;
                fill: white;
                margin-right: 1rem;
            }

            #nav-connect-menu {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (min-width: $largeScreen) {
    #page-footer {

    }
}

#breadcrumbs {
    display: block;
    color: $light-grey;
    padding: $smallPadding;
    padding-left: 0;

    a {
        display: inline-block;
    }
}

.highlight {
    pre {
        padding: $smallPadding;
    }
}
