<!DOCTYPE html>
<html lang="{{ .Lang }}" class="dark:bg-gray-800 dark:text-gray-200">

<head>
    {{ partial "seo.html" . }}

    {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}

    {{ block "styles" . }}{{ end }}
</head>

<body>
    {{ partial "header.html" . }}

    <main>
        <div class="max-w-2xl p-4 mx-auto overflow-hidden sm:overflow-visible">
            {{ block "main" . }}{{ end }}
        </div>
    </main>

    {{ partial "footer.html" . }}

    {{ $img := resources.Get "js/img.js" | js.Build }}
    {{ $menu := resources.Get "js/toggleMainMenu.js" | js.Build }}

    {{ $js := slice $img $menu | resources.Concat "js/bundle.js" | babel | minify | fingerprint }}
    <script src="{{ $js.Permalink }}"></script>
</body>

</html>
