<!DOCTYPE html>
<html lang="{{ .Lang }}" class="dark:bg-gray-800 bg-gray-100 dark:text-gray-200">

<head>
    {{ partial "seo.html" . }} 
 
    {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ else }}
    {{ $style := resources.Get "css/styles.css" | resources.PostCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}

    {{ $style := resources.Get "css/chroma-dark.css" | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    {{ $style := resources.Get "css/chroma-light.css" | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
     
    
    {{ block "styles" . }}{{ end }}
</head>

<body>
    {{ block "page-header" . }}
        {{ partial "page-header.html" . }}
    {{ end }}

    <main>
        {{ block "header" . }}{{ end }}
        {{ block "container" . }}
            <div class="max-w-2xl p-4 mx-auto overflow-hidden sm:overflow-visible">
                {{ block "main" . }}{{ end }}
            </div>
        {{ end }}
    </main>

    {{ block "page-footer" . }}
        {{ partial "page-footer.html" . }}
    {{ end }}

    {{ $img := resources.Get "js/img.js" | js.Build }}
    {{ $menu := resources.Get "js/toggleMainMenu.js" | js.Build }}

    {{ $js := slice $img $menu | resources.Concat "js/bundle.js" | babel | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>
</body>

</html>
