<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    {{ partial "seo.html" . }}

    {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}

    {{ block "styles" . }}{{ end }}
</head>

<body>
    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}
        {{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ block "scripts" . }}
    {{ end }}
</body>

</html>