{{ define "main" }}
    <article>
        <header class="content-header">
            {{ partial "img.html" . }}

            <div class="layer">
                <h1>{{ .Title }}</h1>
                {{ with .Params.subtitle }}
                    <span class="subtitle">{{.}}</span>
                {{ end }}

                {{ if .Date }}
                    <time>{{ partial "date.html" (dict "date" .Date "language" $.Page.Language "monate" $.Site.Data.monate) }}</time>
                {{ end }}
            </div>
        </header>

        <div class="container">

            {{ .Content }}
        </div>
    </article>
{{ end }}
