{{ define "main" }}
<article>
    <header>
        {{ partial "img.html" . }}

        <div>
            <h1>{{ .Title }}</h1>
            {{ with .Params.subtitle }}
            <span>{{.}}</span>
            {{ end }}

            {{ if .Date }}
            <time>{{ partial "date.html" (dict "date" .Date "language" $.Page.Language "monate" $.Site.Data.monate) }}</time>
            {{ end }}
        </div>
    </header>

    <div>
        {{ partial "breadcrumb.html" . }}
    </div>

    <div>

        {{ .Content }}
    </div>
</article>
{{ end }}