{{ define "main" }}
    <header class="content-header">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
            <span class="subtitle">{{.}}</span>
        {{ end }}

        {{ .Content }}
    </header>
    
    <div class="container list">
        {{ range .Pages.ByPublishDate.Reverse }}
            <article>
                <header>
                    <h2>
                        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                    </h2>
                </header>
            </article>
        {{ end }}
    </div>
{{ end }}
