@import "font.css";

html {
    font-size: 14px;
    @apply bg-purple-50 leading-relaxed;
}

@screen md {
    html {
        font-size: 18px;
    }
}

p {
    @apply mb-4 ;   
    @apply text-gray-800;
}

a {
    @apply text-indigo-700;
}

#nav-connect-menu svg {
    width: 1rem;
}

