@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    @apply text-lg;
    @apply font-normal;
    @apply leading-relaxed;
}

p {
    @apply mb-6;
    @apply text-gray-800;
    @apply dark:text-gray-200;
}

a {
    @apply text-purple-600;
    @apply dark:text-yellow-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-gray-900;
    @apply dark:text-yellow-400;
    @apply font-bold;
    @apply mt-2;
    @apply mb-4;
}

h1 {
    @apply text-4xl;
    @apply text-center;
    @apply mb-8;
    @apply mt-16;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-xl;
}

main > h2,
main > h3,
main > h4 {
    @apply text-center;
}

blockquote {
    @apply border-l-2;
    @apply border-gray-900;
    @apply dark:text-yellow-400;
    @apply p-2;
    @apply mb-4;
}

blockquote p {
    @apply m-0;
}

ol {
    @apply list-decimal;
}

ul {
    @apply list-disc;
}

li {
    @apply ml-8;
    @apply mb-4;
}

li > code,
li > tt,
dd > code,
dd > tt,
p > code,
p > tt,
td > code,
td > tt {
    @apply break-words;
    @apply p-0.5 px-2;
    @apply rounded-sm;
    @apply bg-purple-100;
    @apply dark:bg-gray-900;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

figcaption {
    @apply italic;
    @apply text-sm;
}

.highlight {
    @apply mb-8;
}

.highlight pre {
    @apply py-4 px-6;
    white-space: pre-wrap;
    @apply text-xs;
}

#page-footer a {
    @apply text-white;
}

.index-nav-color {
    @apply text-white;
}
