<article class="flex mb-16">
    <header class="bg-cover bg-center h-96 w-96 flex-grow">
        {{ partial "img.html" . }}
        <a
            class="block w-full h-full"
            href="{{ .Permalink }}"
        ></a>
    </header>
    <div>
        <section>
            <h2 class="text-3xl mb-8 mt-4">
                <a
                    class="block"
                    href="{{ .Permalink }}"
                >{{ .Title | markdownify }}</a>
            </h2>

            <p>
                {{ .Summary }} ...
            </p>

        </section>
        <footer>
            <p class="text-gray-500">
                <time>{{partial "date.html" (dict "date" .Date "language" $.Page.Language "monate" $.Site.Data.monate)}}</time>
                ·
                {{ i18n "readingTime" . }}
            </p>
        </footer>
    </div>
</article>