<footer
    id="page-footer"
    class="bg-purple-900 pt-8"
>
    <nav class="m-auto max-w-5xl xl:flex justify-between xl: p-4 text-white text-center xl:text-left">
        <section class="mb-8">
            <label for="nav-legal-menu" class="block mb-4 text-2xl">{{ i18n "legal" }}</label>

            <ul
                id="nav-legal-menu"
                role="navigation"
                class="flex items-center justify-center"
            >
                {{- $currentPage := . -}}
                {{ range .Site.Menus.footer }}
                <li class="mr-4">
                    <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </section>

        {{/*  <section class="mb-8">
            <label for="nav-legal-menu" class="block mb-4 text-2xl">Content</label>

            <ul
                id="nav-meta-menu"
                role="navigation"
                class="flex items-center justify-center"
            >

                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li><a href="{{ .RelPermalink }}">{{ $name }}</a></li>
                {{ end }}
                {{ end }}

            </ul>
        </section>  */}}

        <section class="mb-8">
            <label for="nav-connect-menu" class="block mb-4 text-2xl">Connect</label>

            <ul
                id="nav-connect-menu"
                role="navigation"
                class="flex items-center justify-center"
            >
                <li class="mr-4">
                    <a href="https://twitter.com/csentou" class="flex " alt="Twitter.com @csentou">
                        {{ readFile "static/images/twitter.svg" | safeHTML }}
                    </a>
                </li>
                <li class="mr-4">
                    <a href="" class="flex" alt="Github.com @sentou-sy">
                        {{ readFile "static/images/github.svg" | safeHTML }}
                    </a>
                </li>
                {{/*  <li>
                    <a href="">
                        {{ readFile "static/images/linkedin.svg" | safeHTML }}
                        <span>Steve Beyer</span>
                    </a>
                </li>  */}}
            </ul>
        </section>

        {{/*  <section class="mb-8">
            <label class="block mb-4" for="nav-lang-menu">Translations</label>

            {{ partial "lang-menu.html" . }}
        </section>  */}}
    </nav>

</footer>