<footer id="page-footer">
    <div>
        <nav>
            <section>
                <label for="nav-legal-menu">{{ i18n "legal" }}</label>

                <ul
                    id="nav-legal-menu"
                    role="navigation"
                >
                    {{- $currentPage := . -}}
                    {{ range .Site.Menus.footer }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </section>

            <section>
                <label for="nav-legal-menu">Content</label>

                <ul
                    id="nav-meta-menu"
                    role="navigation"
                >

                    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                    {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                    <li><a href="{{ .RelPermalink }}">{{ $name }}</a></li>
                    {{ end }}
                    {{ end }}

                </ul>
            </section>

            <section>
                <label for="nav-connect-menu">Connect</label>

                <ul
                    id="nav-connect-menu"
                    role="navigation"
                >
                    <li>
                        <a href="https://twitter.com/csentou">
                            {{ readFile "static/images/twitter.svg" | safeHTML }}
                            <span>@csentou</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {{ readFile "static/images/github.svg" | safeHTML }}
                            <span>@sentou-sy</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {{ readFile "static/images/linkedin.svg" | safeHTML }}
                            <span>Steve Beyer</span>
                        </a>
                    </li>
                </ul>
            </section>

            <section>
                <label for="nav-lang-menu">Translations</label>

                {{ partial "lang-menu.html" . }}
            </section>
        </nav>
    </div>
</footer>