{{ $color := .Scratch.Get "navTextColor" }}
<div class="flex justify-between items-center h-12">
    <div class="flex-1 flex sm:items-stretch sm:justify-between">
        <div class="flex-shrink-0 flex items-center">
            <a
                href="{{ .Site.Home.Permalink }}"
                title="homepage"
                class="flex items-center"
            >
                <img
                    class="h-8 w-auto ml-2"
                    src="/images/Logo2.svg"
                    alt="Steve Beyer"
                >
                <span class='text-xl text-indigo-900 dark:text-indigo-300 ml-4 {{ $color }}'>reyste.com</span>
            </a>
            
        </div>
        <div class="hidden sm:flex items-center sm:ml-6">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            {{- $currentPage := . -}}
            {{ range sort .Site.Menus.main "Weight" }}
            <a
                class='text-indigo-900 dark:text-indigo-300 hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-md font-medium {{ $color }}'
                href="{{ .URL | absLangURL }}"
            >{{ .Name }}</a>
            {{ end }}
        </div>
    </div>

    <!-- Mobile menu button-->
    <div class="flex items-center sm:hidden">
        <button
            class="fixed bottom-4 right-4 z-30 p-5 rounded-full hover:text-white bg-gray-700 border-solid border-2 border-white focus:outline-none ring-0"
            aria-expanded="false"
            id="toggle-main-menu"
        >
            <span class="sr-only">Open main menu</span>

            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg
                class="block h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                />
            </svg>

            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg
                class="hidden h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                />
            </svg>
        </button>
    </div>
</div>


<!-- Mobile menu, Menu open: "block", Menu closed: "hidden" -->
<div
    id="main-menu"
    class="hidden sm:hidden fixed bottom-0 left-0 right-0 bg-white dark:bg-gray-700 z-20"
>
    <div class="px-2 pt-2 pb-3 space-y-1 mr-24">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        {{- $currentPage := . -}}
        {{ range sort .Site.Menus.main "Weight" }}
        <a
            class="text-indigo-700 dark:text-indigo-300 hover:bg-indigo-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            href="{{ .URL | absLangURL }}"
        >{{ .Name }}</a>
        {{ end }}
    </div>
</div>
