<footer
    id="page-footer"
    class="bg-gray-900 pt-8 mt-8"
>
    <nav class="m-auto py-8 max-w-2xl lg:flex justify-between text-white">
        <div class="mb-8 lg:mb-0">
            {{ partial "social-connect-buttons.html" . }}
        </div>

        {{/*  <div class="text-center">
            {{ with .Site.GetPage "taxonomy" "categories" }} 
                <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
            {{ end }}
            {{ with .Site.GetPage "taxonomy" "Kategorien" }} 
                <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
            {{ end }}
        </div>  */}}

        <div>
            <ul
                id="nav-legal-menu"
                class="flex items-center justify-center list-none"
            >
                {{- $currentPage := . -}}
                {{ range .Site.Menus.footer }}
                <li class="mr-4 ml-0 text-xs">
                    <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</footer>
