<ul class="flex items-center justify-center list-none fill-current">
    <li class="mr-4 ml-0 w-8">
        <a role="button" aria-label="Link to twitter.com profile @stvbyr" href="https://twitter.com/stvbyr" class="flex">
            {{ readFile "static/images/twitter.svg" | safeHTML }}
        </a>
    </li>
    <li class="mr-4 ml-0 w-8">
        <a role="button" aria-label="Link to github.com profile stvbyr" href="https://github.com/stvbyr" class="flex">
            {{ readFile "static/images/github.svg" | safeHTML }}
        </a>
    </li>
    {{/*  <li>
        <a href="">
            {{ readFile "static/images/linkedin.svg" | safeHTML }}
            <span>Steve Beyer</span>
        </a>
    </li>  */}}
</ul>
