{{ define "page-header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "header" }}
<!--
<section class="py-8 px-4 sm:px-16 my-16">
    <div class="flex flex-col items-center justify-center">
        <picture class="w-64 h-64 rounded-full overflow-hidden">
            {{ $img := resources.Get "images/me.jpg" }}
            <img
                src="{{ $img.RelPermalink }}"
                data-size="512x512"
                width="512"
                height="512"
                alt="Cover image for Steve Beyer"
            >
        </picture>
        <h1 class="text-2xl sm:text-4xl text-white">{{ .Params.subtitle }}</h1>

        <div class="mb-8 lg:mb-0">
            {{ partial "social-connect-buttons.html" . }}
        </div>
    </div>
    
</section>
-->
<h1>Hi, I'm Steve Beyer 👋</h1>
{{ end }}

{{ define "main" }}

{{.Content}}

{{ $items := where site.RegularPages "Type" "in" "blog" }}
{{ .Scratch.Set "items" $items }}
{{ partial "article-list.html" . }}

{{ end }}
