{{ define "main" }}

{{ partial "content-header.html" . }}

<div class="m-auto max-w-5xl p-4 md:p-4">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}

    <h2>Frische Artikel</h2>
    {{ $items := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ .Scratch.Set "items" $items }}
    {{ partial "article-list.html" . }}
    
    <div class="grid md:grid-cols-2">
        <div class="order-2">
            <h2>Hi, mein Name ist Steve.</h2>

            <p>Ich bin ein Fullstack-Entwickler aus Sachsen, Deutschland. Auf meinem Blog findest du eine bunte Mischung aus verschiedenen Themen, wie z.B. Software Entwicklung oder Persönlichkeitsentwicklung.</p>
        
            <a class="inline-block bg-indigo-700 text-white px-3 py-2 rounded-md" href="{{ ref . "about" }}">Mehr erfahren</a>
        </div>
        <div class="flex justify-center items-center order-1">
            {{ $src := resources.GetMatch "images/profile_home.JPG" }}
            <img class="rounded-full w-96" src="{{ $src.Permalink }}" loading="lazy" />
        </div>
    </div>
</div>
{{ end }}