{{ define "page-header" }}
{{ .Scratch.Set "navTextColor" "index-nav-color" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "header" }}
<section
    id="home-header"
    class="py-8 px-4 sm:px-16 -mt-14 mb-16 bg-cover bg-center bg-no-repeat"
>
    <div class="w-0 h-0">
        <div class="w-0 h-0">
            <picture>
                {{ $img := resources.Get "images/home-header.jpg" }}
                <img
                    src="{{ $img.RelPermalink }}"
                    data-size="1920x400"
                    width="1920"
                    height="400"
                    alt=" Cover image for Steve Beyer "
                    style="display: none;"
                >
            </picture>
        </div>
    </div>
    <h1 class="text-2xl sm:text-4xl text-white">{{ .Params.subtitle }}</h1>
</section>
{{ end }}

{{ define "main" }}

{{.Content}}

{{ $items := where site.RegularPages "Type" "in" "blog" }}
{{ .Scratch.Set "items" $items }}
{{ partial "article-list.html" . }}

{{ end }}
